body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
header img.profile-pic {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#projects-container, #writing-container {
    display: flex;
    flex-wrap: wrap;
}

.project, .writing {
    background-color: white;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    flex: 1 1 calc(33% - 2rem);
    box-sizing: border-box;
}

.project img, .writing img {
    max-width: 100%;
    height: auto;
}
.files {
    margin-top: 1rem;
}

.files h4 {
    margin: 0 0 0.5rem 0;
}

.files ul {
    list-style-type: none;
    padding: 0;
}

.files ul li {
    margin-bottom: 0.5rem;
}

.files ul li a {
    text-decoration: none;
    color: #007acc;
}

.files ul li a:hover {
    text-decoration: underline;
}
@media (max-width: 768px) {
    #projects-container, #writing-container {
        flex-direction: column;
    }

    .project, .writing {
        flex: 1 1 100%;
    }

    header img.profile-pic {
        max-width: 100px;
    }
}
